/* Denna fil skall innehålla din CSS kod */
body {
    background-image: url("../img/tallskog.jpg");
    background-size: 1000px 1000px;
}
#container {
    display: grid;
    width: 375px;
    grid-template-areas:
    'hd hd hd'
    'nav1 nav2 nav3'
    'main main main'
    'ft ft ft'
}

header {
    height: 375px;
    margin: 10px;
    text-align: center;
    grid-area: hd;
    background-color: darkred;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1px 1px 1px 1px;
    
        background-image: url("../img/greywolf.jpg");
        background-color: #cccccc;
        background-size: 375px 380px;
       
}

#nav1 {
    border: solid 2px black;
    height: 40px;
    margin: 2px;
    grid-area: nav1;
    background-color: darkslategray;
    padding: 5px 1px 5px 1px;
}

#nav2 {
    border: solid 2px black;
    height: 40px;
    margin: 2px;
    grid-area: nav2;
    background-color: darkslategray;
    padding: 5px 1px 5px 1px;
}

#nav3 {
    border: solid 2px black;
    height: 40px;
    margin: 2px;
    grid-area: nav3;
    background-color: darkslategray;
    padding: 5px 1px 5px 1px;
}

main {
    height: 250px;
    grid-area: main;
   
    background-color: green;
    padding: 1px 1px 1px 5px;
    font-family: 'Times New Roman', Times, serif;

}

footer {
    height: 250px;
    grid-area: ft;
    
    background-color: grey;
    padding: 1px 1px 1px 5px;
    font-family: 'Times New Roman', Times, serif;
}